In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("sales_pipeline.csv")
df

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514.0
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0
...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8798,18IUIUK0,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN

In [6]:
nombres = ["ID_Oportunidad", "Agente_Ventas", "Producto", "Cuenta","Etapa_Operacion", "Fecha_Apertura",
           "Fecha_Cierre", "Valor_Cierre"]

In [7]:
df.columns = nombres

In [8]:
columnas = [df["ID_Oportunidad"], df["Agente_Ventas"], df["Producto"], df["Etapa_Operacion"], 
            df["Fecha_Apertura"], df["Fecha_Cierre"], df["Valor_Cierre"]]

In [9]:
df

,ID_Oportunidad,Agente_Ventas,Producto,Cuenta,Etapa_Operacion,Fecha_Apertura,Fecha_Cierre,Valor_Cierre
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514.0
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0
...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8798,18IUIUK0,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN

In [10]:
c = 0
for i in columnas:
    valor = i.isnull().sum() # Nos permite sumar el numero de valores nulos presentes en la categoria
    name = df.columns[c] # Nos permite accder 1 a 1 a las columnas
    c += 1 # Contador que nos permite iterar entre columnas
 
    print("La cantidad de valores nulos es de {} hallazgos en la columna {}".format(valor, name))

La cantidad de valores nulos es de 0 hallazgos en la columna ID_Oportunidad
La cantidad de valores nulos es de 0 hallazgos en la columna Agente_Ventas
La cantidad de valores nulos es de 0 hallazgos en la columna Producto
La cantidad de valores nulos es de 0 hallazgos en la columna Cuenta
La cantidad de valores nulos es de 500 hallazgos en la columna Etapa_Operacion
La cantidad de valores nulos es de 2089 hallazgos en la columna Fecha_Apertura
La cantidad de valores nulos es de 2089 hallazgos en la columna Fecha_Cierre

In [14]:
df_nona = df.dropna()
df_nona

,ID_Oportunidad,Agente_Ventas,Producto,Cuenta,Etapa_Operacion,Fecha_Apertura,Fecha_Cierre,Valor_Cierre
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514.0
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0
...,...,...,...,...,...,...,...,...
8295,2EBLR9N8,Lajuana Vencill,GTX Basic,Conecom,Won,2017-12-24,2017-12-26,622.0
8296,VDGA4KXA,Violet Mclelland,GTX Plus Basic,Bluth Company,Won,2017-12-24,2017-12-30,1093.0
8297,6WCNNK5J,Maureen Marcano,GTXPro,Hottechi,Won,2017-12-26,2017-12-29,4433.0
8298,YJTQSZ9D,Gladys Colclough,GTX Plus Basic,Inity,Won,2017-12-27,2017-12-30,1052.0
8299,RB8GDYFY,Gladys Colclough,MG Special,Betatech,Won,2017-12-27,2017-12-29,67.0

In [17]:
columnas_nona = [df_nona["ID_Oportunidad"], df_nona["Agente_Ventas"], df_nona["Producto"], df_nona["Etapa_Operacion"], 
            df_nona["Fecha_Apertura"], df_nona["Fecha_Cierre"], df_nona["Valor_Cierre"]]

In [18]:
c = 0
for i in columnas_nona:
    valor = i.isnull().sum() # Nos permite sumar el numero de valores nulos presentes en la categoria
    name = df_nona.columns[c] # Nos permite accder 1 a 1 a las columnas
    c += 1 # Contador que nos permite iterar entre columnas
 
    print("La cantidad de valores nulos es de {} hallazgos en la columna {}".format(valor, name))

La cantidad de valores nulos es de 0 hallazgos en la columna ID_Oportunidad
La cantidad de valores nulos es de 0 hallazgos en la columna Agente_Ventas
La cantidad de valores nulos es de 0 hallazgos en la columna Producto
La cantidad de valores nulos es de 0 hallazgos en la columna Cuenta
La cantidad de valores nulos es de 0 hallazgos en la columna Etapa_Operacion
La cantidad de valores nulos es de 0 hallazgos en la columna Fecha_Apertura
La cantidad de valores nulos es de 0 hallazgos en la columna Fecha_Cierre

In [19]:
df_nona.to_csv("sales_pipelineETL.csv")